.App{
    background-image: url(./testfiles/images/wave.svg);
    background-size: contain;
    height: 100vh;
}

.cocktails{
    margin-top: 10px;
}
.AddButton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.ChangePump{

    width: 100vh;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
